<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: yellow;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>!!!!!!!!!!!!!!----WELCOME----!!!!!!!!!!!!!</h4>
      <h4>====!!!!-AWS-ECR-REPO-JENKINS-PIPELINE-!!!====</h4>
      <br>
       <h4>!!!!!---DOCKER IMAGE PUSH TO AWS-ECR----!!!!!</h4>
    </div>
  </body>
</html>
